@model OIU.CorporateWebsite.Model.SiteConfig

<!--logo开始-->
<div class="logo">
    <img src="@Model.SiteLogo" width="316" height="105" alt="">
</div>
<!--logo结束-->
<div class="tel">
    @Html.Raw(Model.DefaultHotline)  
</div>
