
img
{
    border: 0px;
}

body, td, th
{
    font-size: 12px;
    color: #333333;
}

body
{
    margin: 0px;
    background: url(../images/ht_02.jpg) top repeat-x;
    font-family: 微软雅黑;
}

#siteBody
{
    width: 1000px;
    margin: 10px auto;
}


a:link,a:visited
{
    color: #333333;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    color: #FF0000;
}

a:active
{
    text-decoration: none;
}

.clear
{
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    width: 100%;
    visibility: hidden;
}

.clear10
{
    clear: both;
    height: 10px;
    width: 100%;
    visibility: hidden;
}

li, ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.header
{
    width: 1000px;
    margin: 0px auto;
    height: 105px;
}

.logo
{
    width: 400px;
    height: 105px;
    overflow: hidden;
    float: left;
}

.tel
{
    float: right;
    color: #FFFFFF;
    overflow: hidden;
}

.menu
{
    width: 1000px;
    margin: 0 auto;
    height: 40px;
}

.me li
{
    font-size: 14px;
    color: #FFFFFF;
    width: 120px;
    text-align: center;
    line-height: 35px;
    height: 35px;
    font-weight: 700;
    border-right: 1px #ff0000 solid;
    float: left;
}

.me a:link
{
    color: #fff;
    text-decoration: none;
}

.me a:visited
{
    text-decoration: none;
    color: #fff;
}

.me a:hover
{
    text-decoration: underline;
    color: #fff;
}

.me a:active
{
    text-decoration: none;
    color: #fff;
}

.banner
{
    width: 1000px;
    margin: 0px auto;
    height: 368px;
}

.fenlei
{
    width: 1000px;
    margin: 0px auto;
    background: url(../images/ht_10.jpg) no-repeat;
    height: 40px;
}

    .fenlei .fenl
    {
        width: 205px;
        float: left;
        line-height: 40px;
        font-size: 18px;
        color: #FFFFFF;
        text-align: left;
        padding-left: 15px;
    }

    .fenlei .fenr
    {
        width: 750px;
        float: left;
        text-indent: 2em;
        font-size: 14px;
        line-height: 38px;
    }

.content
{
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .content .left
    {
        width: 230px;
        height: 200px;
        float: left;
        border: 1px solid #cccccc;
        background-color: #000000;
    }

    .content .con
    {
        width: 495px;
        height: 180px;
        float: left;
        margin-left: 10px;
        border: 1px solid #cccccc;
        padding: 10px;
        line-height: 180%;
    }

    .content .right
    {
        width: 210px;
        height: 180px;
        float: right;
        border: 1px solid #cccccc;
        font-family: "Î¢ÈíÑÅºÚ";
        font-size: 22px;
        padding: 10px;
        line-height: 150%;
    }

.fenge
{
    width: 1000px;
    margin: 0px auto;
    border: 1px solid #CCCCCC;
    background: url(images/ht_18.jpg) repeat-x;
    font-family: "Î¢ÈíÑÅºÚ";
    font-size: 22px;
    text-align: center;
    color: #FF0000;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
}

.chanpin
{
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
}

    .chanpin .cleft
    {
        width: 240px;
        float: left;
        border: 1px solid #cccccc;
        overflow: hidden;
    }

    .chanpin .cright
    {
        width: 745px;
        float: right;
        border: 1px solid #cccccc;
        overflow: hidden;
    }

.tit
{
    font-size: 18px;
    background: url(../images/ht_10.jpg) no-repeat -30px;
    line-height: 40px;
    height: 40px;
    color: #FFFFFF;
    text-align: left;
    text-indent: 2em;
}

.tit1
{
    font-size: 22px;
    font-weight: 700;
    background: url(../images/ht_22.jpg) no-repeat;
    line-height: 40px;
    height: 40px;
    color: #FF0000;
    text-align: left;
    text-indent: 2em;
}

.footer
{
    width: 100%;
    margin: 0px auto;
    background-color: #E9DAE3;
    text-align: center;
    color: #f2f2f2;
    padding: 15px;
}

.lb
{
    margin: 10px auto 0;
    width: 220px;
    overflow: hidden;
}

    .lb li
    {
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        border: 1px solid #CCCCCC;
        background-color: #f2f2f2;
        margin-bottom: 10px;
    }

.xinwen li
{
    height: 35px;
    line-height: 35px;
    border-bottom: 1px dashed #CCCCCC;
    text-align: left;list-style-type: circle;
list-style-position: inside;
}
.xinwen li span{ float: right;width: 120px;text-align: left;}

    .xinwen li a
    {
        width: 600px;
        font-size: 14px;
    }

.cont
{
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #fff;
}

    .cont .ccleft
    {
        width: 250px;
        float: left;
        border: 1px solid #cccccc;
    }

    .cont .ccright
    {
        width: 735px;
        float: right;
        border: 1px solid #cccccc;
    }

    .cont .ccright .pager{ margin: 20px auto;text-align: center;}

    ul#caseul li{ width: 327px;height: 252px;overflow: hidden;float: left;margin: 10px 10px 10px 0;}
    ul#caseul li img{width: 323px;height: 248px;padding: 1px;border: 1px solid #ccc;}
    ul#caseul li img:hover{ border-color: #f00;}

.ctit3
{
    text-indent: 1em;
    line-height: 40px;
    border-bottom: 1px dashed #999999;
    background-color: #f2f2f2;
}

.bb
{
    font-size: 18px;
    line-height: 150%;
}


.fivecenter
{
    width: 490px;
    height: 288px;
    float: left;
    border: 1px #CCC solid;
    margin-right: 11px;
}

    .fivecenter .fivecenter_head
    {
        height: 28px;
        line-height: 28px;
        background-color: #F1F1F1;
        border-bottom: 1px #CCC solid;
        overflow: hidden;
        font-weight: bold;
        padding-left: 10px;
    }

    .fivecenter .fivecenter_head span.more ,.fenlei span.more {
        float: right;width: 75px;font-weight: lighter;
    }
    .fenlei span.more{ margin-top: 11px;}

    .fivecenter ul.fivecenter_body li
    {
        text-align: left;
        line-height: 24px;
        border-bottom: 1px #cccccc dashed;
        margin: 0 10px;
        list-style-type: circle;
        list-style-position: inside;
    }

    .fivecenter .fivecenter_body
    {
        padding: 10px;
    }

.indexListContent
{
    border: 1px solid #ccc;
    padding: 17px 0 17px 22px;
}
.indexListContent li{ float: left;width: 224px;height: 200px;overflow: hidden;margin: 10px 19px 0 0;}

.indexListContent li img{ border: 1px solid #ccc;padding: 1px;width: 220px;height: 165px;}
.indexListContent li img:hover{ border-color: #ff0000;}

#productlist ul li{ float: left;width: 224px;height: 200px;overflow: hidden;margin: 10px 15px 0 0;}

#productlist ul li img{ border: 1px solid #ccc;padding: 1px;width: 220px;height: 165px;}
#productlist ul li img:hover{ border-color: #ff0000;}