
<div style="width: 600px; height: 100px; line-height: 100px; font-weight: normal; font-size: 16px;
       border: dashed 1px #696969; background-color: #F3F0F0; text-align: center; margin:100px auto;">
    @ViewBag.ErrorString
</div>

@section scripts
{
    <script type="text/javascript">
    $(function () {
        $('.bannerbj').hide();
        $('.fenlei').hide();
    });

</script>

}
